<div class="span-13" style="text-align:center;height:auto; color:#ffffff;">
	<div class="span-1" style="margin:0px;  text-align:center;height:auto;color:#ffffff;">
		<h4> <span style="color:#ffffff"><%=more_shelves.category%><%=more_shelves.rack%><%=more_shelves.shelf%></span> <h4>
	</div>
</div>